*{
    border: 0;
    margin: 0;
}
body{
    background-color:rgb(211, 186, 154);
    display: flex;
    align-items: center;
    flex-flow: column;
    color: whitesmoke;
    padding: 10px;
    line-height: 2rem;
}
.section{
    color:rgba(155, 43, 40, 0.781);
/* background-color: burlywood; */
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#dogImg{
    margin-top: 1rem;
}
    
img {
    border: 5px solid #555;
  }
#bottom{
    color: black;
}
